parameters:
	level: 6
	paths:
		- course-schedule-connector.php
		- uninstall.php
		- includes
	excludePaths:
		- vendor (?)
		- node_modules (?)
		- build (?)
	bootstrapFiles:
		- tests/bootstrap-phpstan.php
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
